# Data Libraries
**EnsDb.Hsapiens.v86**

# R Packages
**httr**: Version 1.3.1
**jsonlite**: Version 1.5

**foreach**: Version 1.4.4
**doParallel**: Version 1.0.11
**BiocParallel**: Version 1.14.2

**data.table**: Version 1.11.4
**stringr**: Version 1.3.1
**dplyr**: Version 0.7.6
**tidyr**: Version 0.8.1
**tidyverse**: Version 1.2.1
**RecordLinkage**: Version 0.4-10.2

**pROC**: Version 1.12.1
**ggplot2**: Version 3.0.0
**riverplot**: Version 0.6
**cowplot**: Version 0.9.4
**RColorBrewer**: Version 1.1-2

**SPIA**: Version 2.32.0
**graphite**: Version 1.26.1
